In [1]:
import sys
from sklearn.model_selection import train_test_split
sys.path.append('/project/dissertation')

# Load custom modules
from utils.config import config as cf
from utils import txn_reader

## Load All Data 
And filter categories which have less than 5 transactions

In [2]:
txn_all = txn_reader.load_all_transaction_files()
print('All data total rows : ', len(txn_all))
print(txn_all.isna().sum())
df = txn_reader.filter_min_count_category(txn_all, 10)
txn_all.head()

======= File :::
Total  1961  rows
Bank name:  kiwibank
Acct type:  revolving credit
======= File :::
Total  91  rows
Bank name:  kiwibank
Acct type:  everyday
======= File :::

/project/dissertation/utils/txn_reader.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['Description'] = df['Description'].str.split(';').str[0]

Total  964  rows
Bank name:  tsb
Acct type:  credit card
======= File :::
Total  693  rows
Bank name:  tsb
Acct type:  everyday
======= File :::
Total  3368  rows
Bank name:  westpac
Acct type:  mortgage
======= File :::
Total  3175  rows
Bank name:  tsb
Acct type:  everyday
======= File :::
Total  2705  rows
Bank name:  westpac
Acct type:  mortgage
======= File :::
Total  1308  rows
Bank name:  tsb
Acct type:  everyday
======= File :::
Total  380  rows
Bank name:  tsb
Acct type:  credit card
======= File :::
Total  666  rows
Bank name:  anz
Acct type:  account
======= File :::
Total  821  rows
Bank name:  anz
Acct type:  account
======= File :::
Total  152  rows
Bank name:  anz
Acct type:  credit card
Total rows  16266
======= Load categories :::  /project/dissertation/Transaction Data/Category_new.xlsx
Total  93  rows
Load file completed! Total :  16223  transactions
All data total rows :  16223
Date                 0
Description          0
Amount               0
Category             0
Business/Personal    0
Bank                 0
Account Type         0
isOverseas           0
isExpense            0
Amount_logabs        0
Type                 0
Main Category        0
label                0
dtype: int64
filtered dataframe :  16151

,Date,Description,Amount,Category,Business/Personal,Bank,Account Type,isOverseas,isExpense,Amount_logabs,Type,Main Category,label
0,2018-09-18,1 cover auckland,-91.51,travel insurance,personal,kiwibank,revolving credit,0,1,4.516558,expenses,international work travel,Expenses::International Work Travel::Travel In...
1,2017-09-29,southern cross travel aauckland,-144.16,travel insurance,personal,kiwibank,revolving credit,0,1,4.970993,expenses,international work travel,Expenses::International Work Travel::Travel In...
2,2017-08-25,southern cross travel aauckland,-122.16,travel insurance,personal,kiwibank,revolving credit,0,1,4.805414,expenses,international work travel,Expenses::International Work Travel::Travel In...
3,2017-07-27,1 cover auckland (115),-144.48,travel insurance,personal,tsb,credit card,0,1,4.973210,expenses,international work travel,Expenses::International Work Travel::Travel In...
4,2017-02-11,1 cover,-208.00,travel insurance,personal,westpac,credit card,0,1,5.337586,expenses,international work travel,Expenses::International Work Travel::Travel In...

In [3]:
X = df
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=cf.RANDOM_ST)
print('Train :', len(X_train), ' Test :', len(X_test), ' Total :', len(X_train) + len(X_test))

Train : 12920  Test : 3231  Total : 16151

In [4]:
train = X_train.drop(columns=['index'])
train_count = train.groupby('label').count()['Date']
train.to_csv(cf.DATA_PATH+'/train.csv', index=False)
print('Train category count: ', len(train_count))

Train category count:  56

In [5]:
test = X_test.drop(columns=['index'])
test_count = test.groupby('label').count()['Date']
test.to_csv(cf.DATA_PATH+'/test.csv', index=False)
print('Test category count: ', len(test_count))

Test category count:  56